.draggable {
  position:absolute;
  background-image: url("https://en.js.cx/clipart/ball.svg");
  background-size: cover;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
}
.droppable {
  position: absolute;
  background-image: url("https://en.js.cx/clipart/soccer-gate.svg");
  background-size: cover;
  top: 100px;
  left: 100px;
  height: 46px;
  width: 83px;
  cursor: pointer;
  z-index: 10;

}
