/*
.draggable {
  position:absolute;
  background-color: white;
  background-image: url("https://en.js.cx/clipart/ball.svg");
  background-size: cover;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
*/
